@import '../../styles/variables.scss';

.list {
  @extend %displayFlex;
  justify-content: center;
  min-height: 200px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 20px;
  overflow: hidden;
  padding: 0px;
  border: solid 1px red;

  &__item {
    list-style-type: none;
    height: 200px;
    width: auto;
    margin: 10px;
    position: relative;
  }

  &__image {
    overflow: hidden;
    height: 200px;
    width: auto;
  }

  &__button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
}

@media (max-width: 540px) {
  .list {
    &__item {
      height: 150px;
    }

    &__image {
      height: 150px;
    }
  }
}

@media (max-width: 320px) {
  .list {
    &__item {
      height: 100px;
    }

    &__image {
      height: 100px;
    }
  }
}