@import '../../../styles/variables.scss';

.form {
  @extend %displayFlex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  padding: 10px;

  &__input {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
  }

  &__button {
    font-size: 14px;
    padding: 10px;
    margin: 0px 10px;
    border: solid 1px #000;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    outline: none;

    &:hover {
      opacity: 0.5;
    }
  }
}

#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label {
  cursor: pointer;
  border: solid 1px #000;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}