.form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 20px;
  padding: 10px;

  &__input {
    width: 100%;
    font-size: 14px;
  }

  &__button {
    font-size: 14px;
    padding: 10px;
    margin: 10px 0px;
    border: solid 1px #000;
    cursor: pointer;
  }
}

#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label {
  cursor: pointer;
  border: solid 1px #000;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}